<ion-view view-title="Add Car">
  <ion-content class="padding">
    <form ng-submit="vm.addCar(car)">
      <div class="list">
        <label class="item item-input"><input type="text" placeholder="Make" ng-model="car.make"></label>
        <label class="item item-input"><input type="text" placeholder="Model" ng-model="car.model"></label>
        <label class="item item-input"><input type="text" placeholder="Year" ng-model="car.year"></label>
        <label class="item item-input"><input type="text" placeholder="Color" ng-model="car.color"></label>
        <label class="item item-input"><input type="text" placeholder="Name" ng-model="car.name"></label>
        <label class="item item-input"><input type="text" placeholder="Image URL" ng-model="car.image"></label>
      </div>
      <button class="button button-block button-positive">Add Car</button>
    </form>
  </ion-content>
</ion-view>